amqp==2.2.2
arrow==0.10.0
asn1crypto==0.24.0
attrs==17.4.0
autobahn==18.3.1
Automat==0.6.0
automium==0.2.6
automium-web==0.1.1
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
click==6.7
codegen==1.0
constantly==15.1.0
coverage==4.4.2
cryptography==2.2.2
dj-database-url==0.4.2
Django==1.11.2
django-bootstrap3==9.1.0
django-filter==1.1.0
django-forms-bootstrap==3.1.0
django-mathfilters==0.4.0
django-paypal==0.2.5
django-request==1.5.4
django-simple-search==1.0.2
django-taggit==0.22.2
django-timezone-field==2.0
djangorestframework==3.7.1
Flask==0.12.2
future==0.16.0
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.10.3
hyperlink==18.0.0
idna==2.6
include==0.2.1
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.1.0
legacy==0.1.6
Markdown==2.6.9
MarkupSafe==1.0
mock==2.0.0
model-mommy==1.4.0
numpy==1.13.3
pandas==0.21.0
patterns==0.3
pbr==3.1.1
Pillow==5.0.0
post==0.0.13
psycopg2==2.7.1
pycparser==2.18
PyJWT==1.5.3
pyOpenSSL==17.5.0
PyPDF2==1.26.0
PySocks==1.6.7
pysolr==3.7.0
python-dateutil==2.6.1
pytz==2017.2
reportlab==3.4.0
requests==2.18.4
scipy==1.0.0
selenium==3.7.0
setupfiles==0.0.50
simplejson==3.11.1
six==1.11.0
South==1.0.2
twilio==6.8.4
txaio==2.9.0
urllib3==1.22
views==0.3
vine==1.1.4
virtualenv==15.1.0
watson-developer-cloud==1.0.1
webencodings==0.5.1
Werkzeug==0.12.2
whitenoise==3.3.0
xhtml2pdf==0.2b1
xlrd==1.1.0
yahoo-finance==1.4.0
zope.interface==4.4.3
